.container-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-postings-clients,
.archived-job-postings-clients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.job-card-clients {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.button-group-clients {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottom-buttons-clients {
  margin-top: auto;
}

.btn-clients {
  padding: 8px 16px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.btn-view-clients {
  background-color: #007bff;
  color: #fff;
}

.btn-delete-clients {
  background-color: #dc3545;
  color: #fff;
}

.btn-archive-clients {
  background-color: #28a745;
  color: #fff;
}

.btn-unarchive-clients {
  background-color: #ffc107;
  color: #000;
}

.job-description-clients {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .job-card-clients {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .job-card-clients {
    width: calc(50% - 20px);
  }

  @media (max-width: 576px) {
    .job-card-clients {
      width: calc(100% - 20px);
    }
  }
}
