.client-profile-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  margin-right: 20px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.profile-text > div {
  margin-bottom: 10px;
}

.profile-text .name {
  font-size: 24px;
  font-weight: bold; 
}

.input-field {
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
}
