.client-profile-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 90%;
  max-width: 800px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  height: auto; 
}

.name {
  font-family: 'Poppins', sans-serif; 
  font-weight: 700; 
  font-size: 2rem; 
  margin-bottom: 10px; 
}

.contact-info {
  font-family: 'Poppins', sans-serif; 
  font-weight: 400; 
  font-size: 1.2rem; 
  display: flex;
  align-items: center;
}

.location {
  margin-right: 20px;
}

.social-links {
  font-family: 'Poppins', sans-serif; 
  font-weight: 400; 
  font-size: 1rem;
  margin-top: 10px;
  line-height: 2;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #E0E0E0; 
  margin: 20px 0;
}

.image-and-profile-info {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-and-jobs-info {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px; 
  margin-bottom: 30px;
}

.company-info,
.jobs-info {
  flex: 1; 
  min-width: 300px; 
}

.contact-info svg,
.social-links svg,
.company-info svg
{
  font-size: 1.5rem; 
}


@media (max-width: 768px) {
  .client-profile-container {
    padding: 30px; 
  }

  .company-and-jobs-info {
    flex-direction: column;
    gap: 20px; 
  }
}
.update-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.update-button:hover {
  background-color: #0056b3;
}
