:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --background-color: #f4f4f4;
  --text-color: #333;
  --border-color: #ddd;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.public-profile-detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.profile-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff; 
  background-color: var(--primary-color); 
  padding: 10px; 
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}



.profile-picture {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
}

.profile-info {
  margin: 10px 0;
  color: var(--text-color);
}

.loading-text {
  font-size: 1.5rem;
  color: var(--text-color);
}
